@font-face {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url();
}

a {
    text-decoration: none;
}

.navbar-section {
    width: 100%;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-logo {
    width: 80px;
    height: auto;
}

.nav-title {
    font-size: 30px;
    text-decoration: none !important;
    font-weight: 600;
    color: #ffffff;
}

.nav-search input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.nav-search input:focus {
    border-color: #437cff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    padding: 20px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 30px;

    background: rgba(255, 255, 255, 0.15);
    /* transparent white */
    backdrop-filter: blur(10px);
    /* main glass effect */
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */

    border-radius: 20px;
    border: 1px solid rgba(8, 7, 7, 0.3);
    /* glass border */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* soft depth */
}


/* Right Side */
.right-details-box {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.weather-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.weather-image img {
    width: 120px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weather-details .city {
    font-size: 28px;
    color: #ffffff;
    font-weight: 700;
}

.weather-details .temp {
    font-size: 40px;
    font-weight: 700;
    color: #FFC50F;
}

.weather-row-2 {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 2px solid #ffc107;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.weather-row-2 img {
    width: 60px;
}

.weather-row-2 p {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

/* Left Side */
.left-details-box {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 2px solid #ffc107;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.weather-details-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather-details-col h4 {
    font-size: 16px;
    font-weight: 600;
}

.weather-details-col span {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-body {
        flex-direction: column;
    }

    .left-details-box {
        flex-direction: row;
        gap: 20px;
    }
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

.country,
.condition,
.date {
    color: #ffffff;
}

.sunrise,
.sunset p,
label {
    color: #ffffff;
}

.weather-details-col h4,
.weather-details-col span {
    color: #ffffff;
}


/* 7-Day Forecast Section */
.forecast-section {
    margin-top: 40px;
    padding-bottom: 40px;
}

.forecast-title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 600;
    justify-content: center;
    margin-bottom: 50px !important;
}

.forecast-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.forecast-card {
    min-width: 160px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.forecast-card img {
    width: 60px;
    margin: 5px 0;
}

.forecast-date {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

.forecast-temp {
    color: #ffe66d;
    font-size: 22px;
    font-weight: bold;
}

.forecast-condition {
    color: #fff;
    font-size: 14px;
    margin-top: 4px;
}