@font-face {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url();
}
.main-header-dev {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}
.header-left-side{
    display: flex;
    align-items: center;
    width: 50%;
}
.header-right-side{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: right;
    align-content: center;
}
.page-title-dev .page-title {
    font-size: 20px;
    font-family: "Stack Sans Headline", sans-serif; 
}

.header-left-side .logo img{
    width: 80px;
    height: auto;
}
.header-right-side input{
    cursor: text;
    border: 1px solid;
    border-radius: 5px;
}